body{
    box-sizing: border-box;
    // background-color: rgba(black, 0.5) !important;
}

h1, .title-top{
  text-align: center;
}

.grid{
  /*border: 1px red solid;*/
  
}

.box{
  height: 75px;
  line-height: 75px;
  width: 75px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;

  border: 1px solid grey;
}

.grid-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
   
}

.box-2 {  background-color:      #D4D5B9; }
.box-4 {  background-color:      #D6D0AE; }
.box-8 {  background-color:      #D7CBA8; }
.box-16 {  background-color:     #D7C5A3; }
.box-32 {  background-color:     #D8BE9D; }
.box-64 {  background-color:     #D9B697; }
.box-128 {  background-color:    #D9AD92; }
.box-256 {  background-color:    #DAA28C; }
.box-512 {  background-color:    #DB9786; }
.box-1024 {  background-color:   #DB8981; }
.box-2048 { background-color:    #DC7B7B; }
.box-4096 {  background-color:   #DD757E; }
.box-8192 {  background-color:   #DD6F83; }
.box-16384 {  background-color:  #DE6989; }
.box-32768 {  background-color:  #DF6391; }
.box-65536 {  background-color:  #E05D9A; }
.box-131072 {  background-color: #E057A4; }
/*.box-2{  background-color: #E151AF; }
.box-2{  background-color: #E24BBB; }
.box-2{  background-color: #E245C9; }
.box-2{  background-color: #E33ED8; }
.box-2{  background-color: #DF38E4; }
.box-2{  background-color: #CF32E4; }
.box-2{  background-color: #BD2CE5; }
.box-2{  background-color: #AA25E6; }
.box-2{  background-color: #961FE6; }
.box-2{  background-color: #8118E7; }
.box-2{  background-color: #6A12E8; }
.box-2{  background-color: #520BE9; }*/























